
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      admin
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="add-match">add matches</a>
      <a class="dropdown-item" routerLink="add-team">add team</a>
      <a class="dropdown-item" routerLink="add-players">add player</a>
      <a class="dropdown-item" routerLink="dashboard">dashboard</a>
      <a class="dropdown-item" routerLink="add-stadium">add stadium</a>
      
    </div>
  </div>