<div class="custom-media d-flex" style="padding-top: 5%; margin-left: 10%;">
    <div class="img mr-4">
        <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
    </div>
    <div class="text" style="margin-top: 1%;">
        <span class="meta" style="font-size: x-large; padding-top: 25%;">player name :...........</span>
        <br>
        <span class="meta" style="font-size: x-large;  ">player age :...........</span>
        <br>
        <span class="meta" style="font-size: x-large;  ">player position :...........</span>
        
        
        




    </div>
</div>