<app-banner [title]="y"></app-banner>
<div _ngcontent-fne-c8="" class="col-lg-6" style=" margin-left: 26%; padding-top: 10%; padding-bottom: 10%;">
    <div _ngcontent-fne-c8="" class="widget-next-match">
        <table _ngcontent-fne-c8="" class="table custom-table">
            <thead _ngcontent-fne-c8="">
                <tr _ngcontent-fne-c8="">
                    <th _ngcontent-fne-c8="">id</th>
                    <th _ngcontent-fne-c8="">Team name</th>
                    <th _ngcontent-fne-c8="">owner</th>
                    <th _ngcontent-fne-c8="">stadium</th>
                    
                </tr>
            </thead>
            <tbody _ngcontent-fne-c8="">
                <tr _ngcontent-fne-c8="">
                    <td _ngcontent-fne-c8="">1</td>
                    <td _ngcontent-fne-c8=""><strong _ngcontent-fne-c8="" class="text-white"> Fc barcelone</strong>
                    </td>
                    <td _ngcontent-fne-c8="">messi</td>
                    <td _ngcontent-fne-c8="">campnou</td>
                   
                </tr>
                <tr _ngcontent-fne-c8="">
                    <td _ngcontent-fne-c8="">2</td>
                    <td _ngcontent-fne-c8=""><strong _ngcontent-fne-c8="" class="text-white">real madrid</strong></td>
                    <td _ngcontent-fne-c8="">criss</td>
                    <td _ngcontent-fne-c8="">santiago</td>
                    
                </tr>
                <tr _ngcontent-fne-c8="">
                    <td _ngcontent-fne-c8="">3</td>
                    <td _ngcontent-fne-c8=""><strong _ngcontent-fne-c8="" class="text-white">paris saint germain</strong></td>
                    <td _ngcontent-fne-c8="">neymar</td>
                    <td _ngcontent-fne-c8="">parc des princes</td>
                  
                </tr>
              
            
               
               
                
            </tbody>
        </table>
    </div>
</div>