 <div class="custom-media " style="padding-top: 25%; margin-left: 10%;" >
    <div class="col-6"   >
      <img src="{{m.img}}" alt="Image" class="img-fluid">
    </div>
    <div class="text" style="margin-left: 8%;" >
      
      
    <p style="margin-left: 12%; padding-top: 2%;">{{m.TeamName}}</p>  
    <p style="margin-left: 7%; padding-top: 2%;">{{m.TeamStadium}}</p>  
      
    </div>
  </div>











     
<!-- <div class="custom-media d-flex" >
    <div class="img mr-4" style="padding-top: 5%;  padding-bottom: 5%;">
        <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        <h1> Barcelona</h1>
        <h2> namp nou</h2>
        </div>
   </div> -->
